body {
  font-family: -apple-system;
  margin: 0;
  font-size: 20px;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #5334F5;
  text-decoration: none;
  font-weight: 600
}

/* ---- HEADER ----- */

.hero {
  background: url('../img/wallpaper3.jpg');
  height: 920px;
  background-size: cover;
  background-position: center;

  position: relative;
}

.hero h1 {
  color: white;
  margin: 0;
  font-size: 60px;
  line-height: 1.2;
  opacity: 0;

  animation: heroAnimation;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
}

.hero p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  line-height: 1.5;
  opacity: 0;
  animation: heroAnimation 3s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  animation-delay: 1s;
}

.hero a {
  font-size: 17px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.7);
  padding: 9px 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  transform: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.hero a:hover {
  background: white;
  color: black;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  transform: translateY(-2px);
}

.hero-group {
  margin: 0 auto;
  max-width: 500px;
  padding: 150px 50px;
  text-align: center;
}

@media (max-width: 640px) {
  .hero-group {
    padding: 100px 20px;
  }

  .hero h1 {
    font-size: 40px;
  }

  .hero p {
    font-size: 24px;
  }

}

@keyframes heroAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero svg {
  position: absolute;
  bottom: 0;
  left: 0;
}

.hero .logos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 100px 0;
  justify-items: center;
}

@media (max-width: 640px) {
  .hero .logos {
    grid-template-columns: repeat(3, 1fr);
  }
}